@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
body{
    display:flex;
    width:98.9vw;
    font-family: Verdana, Geneva, sans-serif;
}
.left-panel{
    background-color: pink;
    width:19vw;
    height:100vh;
    padding-left:1vw;
}
.left-panel .heading{
    margin-left:1vw;
    margin-top:1em;
    font-size:20px;
    display: flex;
    align-items: center;
}
.left-panel .heading img{
    border-radius: 30px;
    width:30px;
    height:30px;
}
.left-panel .heading h5{
    color:white;
    margin-left:1vw;
}
.left-panel .admin-info{
    border:1px dotted white;
    margin-top:2vh;
    margin-left:2vw;
    margin-right:4vw;
    display:flex;
}
.left-panel .admin-info .admin-avatar{
    margin-top:5px;
    position: relative;
    width:30px;
    height:32px;
}
.left-panel .admin-info .admin-avatar img{
    border-radius: 30px;
    width:30px;
    height:30px;
}
.left-panel .admin-info .admin-avatar .green-point{
    position:absolute;
    width:10px;
    height:10px;
    bottom: 0px;
    right: 0px;
    background-color: lightgreen;
    border-radius: 10px;
}
.left-panel .admin-info .admin-sub-info{
    margin-left:1vw;
    display:flex;
    flex-direction: column;
}
.left-panel .admin-info a{
    color:white;
}
.left-panel .main-menu{
    margin-left:1vw;
}
.left-panel .main-menu h5{
    color:white;
    font-size: 20px;
}
.left-panel .main-menu .button-zone{
    display:flex;
    flex-direction: column; 
}
.left-panel .main-menu .button-zone button{
    cursor:pointer;
    padding-left:30px;
    text-align: left !important;
    color:white;
    font-size:16px;
    font-weight: bold;
    width:100%;
    height:6vh;
    background: transparent;
    border:none;
    outline:none;
    transition: padding-left 0.3s ease-in-out;
}
.left-panel .main-menu .button-zone button:hover{
    padding-left:50px;
    background-color:lightblue;
}
.right-panel{
    width:80vw;
}
.right-panel .admin-header{
    border-radius:1px;
    width:100%;
    height:8vh;
    display:flex;
    align-items: center;
}
.right-panel .admin-header .replace-for-left-panel-responsive{
    display:none;
    border:2px dotted white;
    vertical-align: middle; 
    background: pink;
    height:100%;
}
.right-panel .admin-header .replace-for-left-panel-responsive img{
    border-radius: 45px;
    width:45px;
    height:45px;
}
.right-panel .admin-header .phone-number{
    font-size:12px;
    font-weight: bold;
    padding-left: 20px;
}
.search-box{
    margin-left: 50px;
    position: relative;
}
.search{
    width:300px;
    height:40px;
    background-color: rgba(245,245,245,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding:0px 20px;
}
.search form input{
    width:100%;
    height:40px;
    border:none;
    outline: none;
    background-color: transparent;
}
.search i{
    color: #3a3a3a;
}
#results{
    border-radius: 2%;
    background-color: rgba(245,245,245,0.8);
    display: none;
}
#results ul{
    width:250px;
    height:0px;
    position: absolute;
}
#results ul li{
    position: absolute;
    width: 250px;
    height: 50px;
    border-bottom: 1px dotted #fff;
    background-color: whitesmoke;
    text-align: left;
}
#results ul li a{
    width: 250px;
    height: 50px;
    padding: 10px;
    position: absolute;
    color:pink;
}
#results ul li:last-child{
    border-bottom: none;
}
#searchicon
{
    font-size: 25px;
    color : pink;
    position: relative;
}
::placeholder {
    color: pink;
}
.admin-header-right-side{
    float:right;
    display:flex;
    margin-left: auto;
    align-items: center;
}
.admin-header-right-side button{
    margin-left:5px;
    border:none;
    outline:none;
    cursor:pointer;
    background-color: white;
}
.admin-header-right-side-admin-info img{
    width:30px;
    height:30px;
    border-radius:30px;
}
.admin-header-right-side-admin-info:hover{
    cursor: pointer;
}
.admin-header-right-side-admin-info:hover .sub-admin-info{
    display:block;
}
.admin-content{
    background-color: ghostwhite;
    width:100%;
}
.sub-admin-info{
    
}
.sub-admin-info img{
    width:50px;
    height:50px;
    border-radius: 50px;
}
.table{
    border:1px solid black;
    display:table;
    width:100%;
}
.table form{
    width:100%;
}
.table, .tr, .td{
    text-align: center;
    border :3px dotted pink;
}
.tr{
    width:100%;
    display:table-row;
}
.td{
    display:table-cell;
}
#sid,#vdid{
    width:5%;
}
#sname,#vdname{
    width:18%;
}
#slink{
    width:50%;
}
#vdlink,#tnlink{
    width:30%;
}
#ttdid{
    width:10%;
}
#tthtml{
    width:70%;
}
.pagination{
    margin-top:15px;
    width:200px;
    height:40px;
    margin-left: 40%;
    margin-bottom: 10px;
    display:inline-flex;
    border-radius: 5px;
    overflow: hidden;
}
.pagination button{
    border:none;
    border-left:1px solid #aaa;
    background-color: white;
    width:30px;
    height:30px;
}
.pagination button:hover{
    background-color: #DDDDDD;
}
textarea:focus, input:focus{
    outline: none;
}
.td input{
    border:none;
    outline:none;
    background-color: transparent;
    font-size:15px;
    width:100%;
     word-wrap: break-word;
     word-break: break-all;
}
@media only screen and (max-width: 865px){
    .left-panel{
        display:none;
    }
    .right-panel{
        width:100vw;
    }
    .right-panel .admin-header .replace-for-left-panel-responsive{
        display:block;
    }
}
@media only screen and (max-width: 750px){
    .search{
        width:200px;
    }
}
@media only screen and (max-width: 650px){
    .phone-number{
        display:none;
    }
}
@media only screen and (max-width: 460px){
    .admin-header-right-side button span{
        display:none;
    }
}
@media only screen and (max-width: 380px){
    .search{
        display:none;
    }
}