.leaderboard{
    width: 100%;
    height: 60%;
}
.leaderboard .bangxephang{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
.leaderboard .nghetatca{
    position: relative;
    float:right;
    margin-right:8%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.08vw;
}
.leaderboard .menu{
    margin-top: 10px;
}
.leaderboard .menu a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 33px 0px 0px;
}
.leaderboard .menu a:hover{
    color:red;
}
.leaderboard .top{
    width:100%;
    height:100%;
}
.leaderboard .top .top1-container{
    width: 100%;
    flex-shrink: 0;
    padding-right: 15px;
    box-sizing: border-box;
    position: relative;
    margin-top: 15px;
}
.leaderboard .top .top1-container .top1-card {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.leaderboard .top .top1-container .top1-card a img{
    display: flex;
    position: relative;
    width: 6vw;
    height: 6vw;
    object-fit: cover;
}
.leaderboard .top .top1-container .top1-card .top1-info{
    width: 13vw;
    position:relative;
    margin-left: 20px;
}
.leaderboard .top .top1-container .top1-card .top1-info .name{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25vw;
    font-weight: bold;
}
.leaderboard .top .top1-container .top1-card .top1-info .artist{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: bold;
}
.leaderboard .top .top1-container .top1-card .views{
    float:right;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: bold;
    position:relative;
}
.leaderboard .top .anothertop-container{
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    padding-right: 15px;
    box-sizing: border-box;
    position: relative;
    margin-top: 25px;
}
.leaderboard .top .anothertop-container .top-card{
    border-bottom: 1px dotted grey;
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
    height: 4vw;
}
.leaderboard .top .anothertop-container .top-card .place{
    width:50px;
    height:100%;
    flex-direction: column;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
}
.leaderboard .top .anothertop-container .top-card .place .number{
    position:absolute;
    left:1vw;
    text-align: center;
}
.leaderboard .top .anothertop-container .top-card .place .material-icons{
    margin-top:5px;
    transform: scale(0.5);
}
.leaderboard .top .anothertop-container .top-card a img{
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.leaderboard .top .anothertop-container .top-card .top-info{
    margin-left:10px;
    width:200px;
}
.leaderboard .top .anothertop-container .top-card .top-info .name{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25vw;
    font-weight: bold;
}
.leaderboard .top .anothertop-container .top-card .top-info .artist{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: bold;
}
.leaderboard .top .anothertop-container .top-card .views{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: bold;
    position:relative;
    margin-left: 10px;
    text-align: left;
}