@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
#main-music-player {
    margin-top: 40px;
    background-color: black;
    width: 820px;
    padding: 10px 0px;
    z-index: 999;
}
#main-music-player .main-inner {
    margin-top:70px;
    margin-bottom:20px;
    display: flex;
    align-items:center;
    max-width: 940px;
    padding: 0 20px;
}
#main-music-player .main-play-bar{
    height: 20px;
    float: left;
    margin-right: 30px;
    display: flex;
    justify-content: flex-start;
    flex: 1;
}
#main-music-player .main-song-content {
    width: 220px;
    height: 35px;
    float: left;
    display: flex;
    justify-content: flex-start;
}
.main-controls{
    height: 20px;
    display :flex;
    align-items: center;
}
.main-controls  img {
     vertical-align: middle;
 }
.main-controls  a {
    color:pink;
     align-self: center;
 }
.main-controls  .main-previous {
    margin-right: 12px;
}
.main-controls .main-previous img {
    width: 14px;
}
.main-controls .main-play{
    margin-right: 12px;
}
.main-controls  .main-pause{
    margin-right: 12px;
} 
.main-controls  .main-pause img{
     width: 30px;
}
.main-controls .main-play img{
     width: 30px;
} 
.main-controls .main-next{
    margin-right: 12px;
}
.main-controls .main-next img {
    width: 14px;
}
.main-controls .volume{
    width:40px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.main-controls .volume a{
    margin-left:10px;
}
.main-controls .volume a span{
    width:100%;
    display: flex;
    align-items:center;
}

.main-controls .main-volume-up{
    margin-right: 12px;
}
.main-controls .main-volume-down{
    margin-right: 12px;
    display:none;
}
.main-controls .main-volume-mute{
    margin-right: 12px;
    display:none;
}
#range{
    display:none;
    transition: background 450ms ease-in;
    -webkit-appearance: slider-vertical;
    width: 10px;
    height: 80px;
}

.main-play-bar{
    cursor: pointer;
}
.main-play-bar span {
    color: #ffffff;
    font-size: .8em;
    font-weight: bold;
    align-self: center;
}
.main-play-bar .main-bar-bg {
    background-color: #ffffff;
    width: 100%;
    height: 6px;
    border-radius: 10px;
    align-self: center;
    margin: 0 5px;
}
.main-play-bar .main-bar-bg .main-progress {
    background-color: #ffc964;
    height: 6px;
    border-radius: 10px;
    width: 0%;
}

.main-song-content{
}
.main-song-content .main-user-info {
    display: flex;
    justify-content: flex-start;
}
.main-song-content .main-img-wrapper {
    width: 30px;
    margin-right: 12px;
}
.main-song-content .main-song-info {
    align-self: center;
    text-align: left;
}
.main-song-content .main-song-info .main-artist {
    display: inline-block;
    color: gray;
    font-size: .8em;
    line-height: 1.2em;
    display: block;
}
.main-song-content .main-song-info .main-song {
    color: #ffffff;
    font-size: .8em;
    line-height: 1.2em;
    display: block;
}
.main-song-content .main-comment-icon {
    padding-top:2px;
    padding-left : 50px;
}
.main-song-content .main-comment-icon a{
    color:pink;
    display: flex;
}

#main-scroll{
    width: 820px;
    height: 240px;
    margin-top: 50px;
    background-color: #F8F8FF;
}
#main-scroll .Container{
    padding-top: 20px;
    width: 800px;
    height: 60px;
    border: 1px solid lightgrey;
    display: flex;
}
#main-scroll .Container a{
    color: gray;
}
#main-scroll .Container .song{
    width: 70%;
    margin-left:20px;
}
#main-scroll .Container .artist{
     width: 30%;
    float:right;
}
#main-scroll .Container .artist a{
    
}
@media only screen and (max-width: 820px) {
    #main-music-player {
        margin-left: 0;
        background-color: black;
        width: 100%;
        padding: 10px 0;
        z-index: 999;
    }
}
audio{
    display: none;
}
