.NgheSiDisplay{
    margin-top:1%;
    margin-left: 11%;
    width: 1200px;
}
.NgheSiDisplay .background{
    width: 100%;
    height:300px;
    overflow: hidden;
}
.NgheSiDisplay .background .artist-name{
    padding-top:100px;
    height:80%;
    text-align: center;
    background-color: black;
    opacity:0.5;
    color:white;
    font-size: 40px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
}
.NgheSiDisplay .background .artist-description{
    height:20%;
    text-align: center;
    background-color: black;
    opacity:0.7;
    color:white;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
}
.NgheSiDisplay .button-zone{
    display:flex;
    margin-top:30px;
    width:100%;
}
.NgheSiDisplay .button-zone button{
    cursor: pointer;
    border:none;
    outline: none;
    color:#aaa;
    border-bottom: 3px solid #aaa;
    text-align: left;   
    width: 25%;
    height:40px;
    font-size: 15px;
    font-family: Verdana, Geneva, sans-serif;
    background-color: white;
}
#first-bt{
    color:orange;
    border-bottom: 3px solid orange;
}
.NgheSiDisplay .button-zone button:hover{
    border-bottom: 3px solid black;
}
.NgheSiDisplay .nghesi-song{
    min-height:229px;
}
.NgheSiDisplay .nghesi-song .song-card{
    border:1px solid red;
    border-bottom: 1px dotted grey;
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
    height: 120px;
}
.NgheSiDisplay .nghesi-song .song-card .place{
    position: relative;
    width:50px;
    height:100%;
    flex-direction: column;
    color: green;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
}
.NgheSiDisplay .nghesi-song .song-card .place .number{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.NgheSiDisplay .nghesi-song .song-card a img{
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.NgheSiDisplay .nghesi-song .song-card .song-info{
    margin-left:3%;
    display:flex;
    flex-direction: column;
}
.NgheSiDisplay .nghesi-song .song-card .song-info .name{
    color:black;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.NgheSiDisplay .nghesi-song .song-card .song-info .artist{
    color:grey;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
}
.NgheSiDisplay .nghesi-song .song-card .song-info .quality{
    color:red;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
}
.NgheSiDisplay .nghesi-song .song-card .views{
    margin-right:30px;
    align-items: center;
    position: absolute;
    display: flex;
    right:0;
    color:grey;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
}
.NgheSiDisplay .nghesi-song .song-card .views span{
}
.NgheSiDisplay .nghesi-video{
    min-height:229px;
    display:none;
}
.NgheSiDisplay .nghesi-video .video-column{
    display:flex;
}
.NgheSiDisplay .nghesi-video .video-card{
    height: 180px;
    width: 230px;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    text-align: left;
}
.NgheSiDisplay .nghesi-video .video-card .video-thumbnail{
    height: 90px;
    display: flex;
}
.NgheSiDisplay .nghesi-video .video-card .video-thumbnail:hover .play-button{
    display:block;
}
.NgheSiDisplay .nghesi-video .video-card .video-thumbnail .video-duration{
    width:58px;
    height:18px;
    display: inline-flex;
    align-items: center;
    background-color: black;
    font-size: 10px;
    font-family: Verdana, Geneva, sans-serif;
    opacity: 0.5;
    color: white;
    position: absolute;
    border-radius: 2px;
}
.NgheSiDisplay .nghesi-video .video-card .video-thumbnail .video-duration span{
    transform: scale(0.4);
}
.NgheSiDisplay .nghesi-video .video-card .video-thumbnail .play-button{
    position: absolute;
    margin-top:40px;
    margin-left: 83px;
    opacity:0.75;
    display:none;
}
.NgheSiDisplay .nghesi-video .video-card .video-thumbnail .play-button span{
    color:white;
    transform : scale(2.4);
}
.NgheSiDisplay .nghesi-video .video-card .video-thumbnail .video-quality{
    border:1px solid black;
    position: absolute;
    margin-top: 92px;
    color: orange;
    background-color: black;
    font-size: 10px;
    font-family: Verdana, Geneva, sans-serif;
    opacity: 0.5;
    border-radius: 2px;
}
.NgheSiDisplay .nghesi-video .video-card .video-thumbnail img{
    height: 108px;
    width: 192px;
    border-radius: 5px;
}
.NgheSiDisplay .nghesi-video .video-card .video-name{
    padding-top:30px;
}
.NgheSiDisplay .nghesi-video .video-card .video-name a{
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    color:black;
}
.NgheSiDisplay .nghesi-video .video-card .video-artist a{
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    color:grey;
}
.NgheSiDisplay .nghesi-album{
    width: 100%;
    min-height:229px;
    display:none;
}
.NgheSiDisplay .nghesi-album .album-card{
    width: 100%;
    min-height:229px;
}
.NgheSiDisplay .nghesi-playlist{
    width: 100%;
    min-height:229px;
    display:none;
}   
.NgheSiDisplay .nghesi-playlist .playlist-card{
    width: 100%;
    min-height:229px;
}
.NgheSiDisplay .video-pagination{
    margin-top:15px;
    width:200px;
    height:40px;
    margin-left: 40%;
    margin-bottom: 10px;
    display:inline-flex;
    border-radius: 5px;
    overflow: hidden;
}
.NgheSiDisplay .video-pagination button{
    border:none;
    border-left:1px solid #aaa;
    background-color: white;
    width:30px;
    height:30px;
}
.NgheSiDisplay .video-pagination button:hover{
    background-color: #DDDDDD;
}