@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container{
    width: 85vw;
    margin-left:6%;
    position: relative;
}

.inner{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.track{
  display: inline-flex;
  transition: transform 1.5s;
}
.card-container{
    width:17vw;
    height:17vw;
    flex-shrink: 0;
    padding-right: 1vw;
    box-sizing: border-box;
}
.card img:hover{
  display: block;
  -webkit-filter: brightness(70%);
}
.card{
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.card > * {
  flex: 1;
}
.card img{
    cursor: pointer;
  width:100%;
  height:80%;
  object-fit: cover;
  object-position: top;
}
.card .play{
  opacity: 1;
  display:none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.card .play a span{
    color:white;
    opacity:0.75;
}
.card:hover .play{
  display:block;
}
.play:hover ~ .card img{
    display: block;
    -webkit-filter: brightness(70%);
}
.card .play .playbutton{
  display: none;
  width: 100%;
  height: 100%;
}
.card .info{
  flex-basis: 40px;
  background: #333;
  color: #fff;
  flex-grow: 0;
  padding: 10px;
  box-sizing: border-box;
}
.card .info a{
    color:white;
}
.navi .prev .material-icons{
  font-size: 60px;
}
.navi .next .material-icons{
    font-size: 60px;
}
.navi button{
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.navi .prev{
  left: -1vw;
  display: none;
  color: white;
}
.navi .prev.show{
  display: block;
}
.navi .prev .material-icons{
    font-size: 4vw;
}
.navi .next .material-icons{
    font-size: 4vw;
}
.navi .next{
    right: -1vw;
    color: white;
}
.navi .next span{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.navi .prev span{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.navi .next.hide{
    display: none;
}
@media only screen and (max-width: 1080px){
    .card .info{
        padding: 5px;
    }
    .card .info a{
        font-size:12px;
    }
}
@media only screen and (max-width: 880px){
    .card .info{
        padding: 2px;
    }
    .card .info a{
        font-size:10px;
    }
}
@media only screen and (max-width: 880px){
    .card .info{
        display: none;
    }
}
@media only screen and (max-width: 640px){
    .card{
        border-radius: 15px;
    }
}
@media only screen and (max-width: 460px){
    .card{
        border-radius: 10px;
    }
    .card .info{
        padding: 0px;
    }
    .card .info a{
        font-size:6px;
    }
}