.songInfo{
    display: flex; 
    margin-top: 50px;
}
.songInfo .leftSide{
    width : 30%;
    display: flex;
    flex-direction: column;
}
.songInfo .leftSide img{
    width: 240px;
    height: 240px;
    box-shadow: 5px 15px 30px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.songInfo .leftSide .songName{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}
.songInfo .leftSide .info{
  
}
.songInfo .leftSide .info .row{
    
}
.songInfo .leftSide .info .row .title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color:grey;
}
.songInfo .leftSide .info .row a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color:black;
}
.songInfo .rightSide{
    width:80%;
}
.songInfo .rightSide ul{
    display: flex;
}
.songInfo .rightSide ul li{
    padding-left:5px;
}
.songInfo .rightSide ul li button{
    width : 120px;
    height: 40px;
    border-radius: 50px;
    background-color:linen;
    color:grey;
    display: flex;
}
.songInfo .rightSide ul li button span{
    padding-top:5px;
    padding-left:15px;
}
.songInfo .rightSide ul li button .buttonname{
    padding-left:2px;
    padding-top:10px;
}
.songInfo .rightSide ul li #DownloadExtends a.a128kbps{
    color:yellow;
}
.songInfo .rightSide ul li #DownloadExtends a.a320kbps{
    color:greenyellow;
}
.songInfo .rightSide ul li #LyricsExtends{
    width: 500px;
    height: 300px;
    word-wrap: break-word;
    color: grey;
    display: none;
}
.songInfo .rightSide ul li #DownloadExtends{
    color: pink;
    flex-direction: column;
    display: none;
}
.songInfo .rightSide ul li #ShareExtends{
    color: pink;
    display: none;
}
.songInfo .rightSide ul li #MoreExtends{
    color: pink;
    display: none;
}