.YoutubeVideo{
    width:50vw;
    height:40vw;
}
.YoutubeVideo .VideoTab{
}
.YoutubeVideo .VideoTab a{
    font-size: 40px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    color:pink;
}
.YoutubeVideo #player,.VideoInfo{
    padding-top : 10px;
}
.YoutubeVideo #player{
    width:50vw;
    height:28.125vw;
}
.YoutubeVideo #player iframe{
    width:100%;
    height:100%;
}
.YoutubeVideo .VideoInfo{
    font-weight: bold;
}
@media only screen and (max-width: 880px){
    .YoutubeVideo{
        width:80vw;
    }
    .YoutubeVideo #player{
        width:80vw;
        height:45vw;
    }
}
